#movies-list {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: auto auto;
    gap: 2rem;
    grid-template-areas:
        "search-bar search-bar search-bar search-bar"
        "genres-list genres-list genres-list genres-list"
        "movies-list  movies-list  movies-list  movies-list";
}

app-searchbar {
    grid-area: search-bar;
}

app-genreslist {
    grid-area: genres-list;
}

.movies-list-container {
    grid-area: movies-list;

    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 2rem;
}

.no-movies-found {
    grid-column: span 4;
    text-align: center;
}

@media(width < 768px) {
    #movies-list {
        grid-template-columns: repeat(3, 150px);
        grid-template-areas:
            "search-bar search-bar search-bar"
            "genres-list genres-list genres-list"
            "movies-list movies-list movies-list";
    }

    .movies-list-container {
        grid-template-columns: repeat(3, 150px);
    }

    .no-movies-found {
        grid-column: span 3;
    }
}

@media(width < 576px) {
    #movies-list {
        grid-template-columns: repeat(2, 150px);
        grid-template-areas:
            "search-bar search-bar"
            "genres-list genres-list"
            "movies-list movies-list";
    }

    .movies-list-container {
        grid-template-columns: repeat(2, 150px);
    }

    .no-movies-found {
        grid-column: span 2;
    }
}