<form id="sign-up-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Sign Up</legend>
        <p>
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" formControlName="email" required />
            @if(email?.invalid && wasFormSubmitted){
            @if(email?.hasError('required')) {
        <div class="error">
            Email is required.
        </div>
        } @else if(email?.hasError('email')) {
        <div class="error">
            Invalid email format.
        </div>
        }
        }
        </p>
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Choose a username" formControlName="username" required />
            @if(username?.invalid && wasFormSubmitted){
            @if(username?.hasError('required')) {
        <div class="error">
            Username is required.
        </div>
        } @else if(username?.hasError('minlength')) {
        <div class="error">
            Username must be at least 4 characters long.
        </div>
        } @else if(username?.hasError('maxlength')) {
        <div class="error">
            Username cannot be more than 12 characters long.
        </div>
        }
        }
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" formControlName="password"
                required />
            @if(password?.invalid && wasFormSubmitted){
            @if(password?.hasError('required')) {
        <div class="error">
            Password is required.
        </div>
        } @else if(password?.hasError('minlength')) {
        <div class="error">
            Password must be at least 8 characters long.
        </div>
        } @else if(password?.hasError('maxlength')) {
        <div class="error">
            Password cannot be more than 128 characters long.
        </div>
        }
        }
        </p>
        <p>
            <label for="confirm-password">Password Confirm</label>
            <input type="password" id="confirm-password" placeholder="Confirm your password"
                formControlName="passwordConfirm" required />
            @if((registerForm.invalid || passwordConfirm?.invalid) && wasFormSubmitted){
            @if(registerForm.hasError('mismatch')) {
        <div class="error">
            Passwords do not match.
        </div>
        } @else if(passwordConfirm?.hasError('required')){
        <div class="error">
            Password confirmation is required.
        </div>
        }
        }
        </p>
        <p class="submit-button-container">
            <button type="submit">Sign Up</button>
        </p>
        <p class="account-navigation">
            Already have an account? <a [routerLink]="['/login']">Sign In</a>
        </p>
        @if(registerResult){
        <div class="operation-result {{registerResult.status}}">{{ registerResult.message }}</div>
        }
    </fieldset>
</form>