<nav id="navbar">
    <div class="logo">
        <a href="#">MoviesApp</a>
    </div>
    <ul class="nav-links">
        @if(!isLoggedIn) {
        <li><a class="sign-in" [routerLink]="['/login']">Sign In</a></li>
        <li><a class="sign-up" [routerLink]="['/register']">Sign Up</a></li>
        } @else {
        <li><a class="logout" [routerLink]="['/login']" (click)="onLogout()">Logout</a></li>
        }
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>