nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 1rem;
}

nav a {
    text-decoration: none;
    color: var(--a-color);
}

.logo a {
    font-size: 1.5rem;
}

.nav-links a {
    display: inline-block;
    font-size: 1.2rem;
}

.burger {
    display: none;
}

.sign-in {
    position: relative;
}

.sign-in::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--a-color);
    transition: width 0.3s ease;
}

.sign-in:hover::after {
    width: 50%;
}

.sign-up {
    border: 1px solid var(--a-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-up:hover {
    background-color: var(--a-color);
    color: var(--b-bg-color);
}