#movie-details {
    display: grid;
    grid-template-columns: repeat(2, 328px);
    grid-template-areas:
        "poster info"
        "review-form review-form"
        "reviews-list reviews-list";
    gap: 1rem;
}

app-reviewform {
    grid-area: review-form;
}

app-reviewslist {
    grid-area: reviews-list;
}

.poster-container {
    width: 328px;
    height: 476px;
}

.poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h2 {
    font-size: 2rem;
}

strong {
    color: var(--b-color);
}

@media(width < 704px) {
    #movie-details {
        grid-template-columns: 328px;
        grid-template-areas:
            "poster"
            "info"
            "review-form"
            "reviews-list";
    }
}