@if(movie){
<section id="movie-details">
    <div class="poster-container">
        <img src="{{movie.poster}}" alt="{{ movie.title }} poster">
    </div>
    <div class="info">
        <h2>{{ movie.title }}</h2>
        <p>
            <strong>
                {{ movie.rating !== null ? movie.rating : 'No rating yet' }},
                {{ movie.runtime }},
                {{ movie.year}}
            </strong>
        </p>
        <p>
            @for(genreEntry of genres; track genreEntry._id; let last = $last){
            @if(!last){
            <strong>{{genreEntry.name}}, </strong>
            } @else{
            <strong>{{genreEntry.name}}</strong>
            }
            }
        </p>
        <p>{{ movie.plot }}</p>
        <p><strong>Directors:</strong> {{ movie.directors.join(', ') }}</p>
        <p><strong>Writers:</strong> {{ movie.writers.join(', ') }}</p>
        <p><strong>Actors:</strong> {{ movie.actors.join(', ') }}</p>
        <p><strong>Countries:</strong> {{ movie.countries.join(', ') }}</p>
        <p><strong>Awards:</strong> {{ movie.awards }}</p>
    </div>
    <app-reviewform [movieId]="movieId"></app-reviewform>
    @if(reviews){
    <app-reviewslist [reviews]="reviews"></app-reviewslist>
    }
</section>
}