.review {
    width: 100%;
    border: 1px solid var(--a-color);
    padding: 0.5rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.username {
    color: var(--d-color);
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rating svg {
    width: 1rem;
    height: 1rem;
}