ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 2rem;
}

fieldset {
    padding: 1.5rem 0;
    border: 1px solid var(--a-color);
    border-radius: 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--a-color);
    margin: 0 auto;
}

@media(width < 768px) {
    ul {
        grid-template-columns: repeat(3, 150px);
    }
}

@media(width < 576px) {
    ul {
        grid-template-columns: repeat(2, 150px);
    }
}

li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

label {
    font-size: 1.2rem;
    color: var(--b-color);
    cursor: pointer;
}

input[type="checkbox"]:checked+label {
    color: var(--d-color);
}

input[type="checkbox"] {
    accent-color: var(--d-color);
    cursor: pointer;
}