<form id="genres-filter-form">
    <fieldset>
        <legend>Genres</legend>
        <ul>
            @for(genreEntry of genres; track genreEntry._id) {
            <li>
                <input type="checkbox" [(ngModel)]="selectedGenres[genreEntry._id]" (change)="onGenreChange()"
                    id="genre-{{ genreEntry._id }}" name="genre-{{ genreEntry._id }}" />
                <label for="genre-{{ genreEntry._id }}">{{ genreEntry.name }}</label>
            </li>
            }
        </ul>
    </fieldset>
</form>