:root {
    --a-color: #ffffff;
    --b-color: #6c757d;
    --c-color: #adb5bd;
    --d-color: #ff006e;

    --success-color: #82DD55;
    --error-color: #E23636;

    --a-bg-color: #1A1D20;
    --c-bg-color: #495057;

    --primary-font: 'Oswald', sans-serif;
    --secondary-font: 'Source Sans 3', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: var(--primary-font), var(--secondary-font);
    color: var(--a-color);
    background-color: var(--a-bg-color);
}