fieldset {
    padding: 1rem;
    border: 1px solid var(--a-color);
    border-radius: 1rem;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--a-color);
    margin: 0 auto;
}

textarea,
select,
label {
    display: block;
}

textarea,
select {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    color: var(--a-color);
    background-color: var(--c-bg-color);
    border: none;
}

textarea:focus,
select:focus {
    outline: none;
    border: 1px solid var(--a-color);
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

.submit-button-container {
    margin-top: 1rem;
    text-align: center;
}

button {
    color: var(--a-color);
    background-color: inherit;
    font-size: 1rem;
    border: 1px solid var(--a-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: var(--a-color);
    color: var(--a-bg-color);
}

.error {
    color: var(--error-color);
}